

:root{
    --cor-de-fundo :#18dbbb;
    --laranja :#f87800;
    --branco :#ffffff;   
}

body{
    background-color: var(--cor-de-fundo)
    color:var(--branco);
    text-align:center;
    font-family: 'Chakra Petch';
}

h1 span {
    color:var(--laranja);
}

#dias_restantes{
    color: var(--laranja);
    font-size: 50px;
}